:host {
  display: block;
  padding: var(--space-md);
  max-width: 420px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-bold);
}
