main {
  display: block;
  padding: var(--space-xl) var(--space-md);
  max-width: 480px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: var(--font-size-display);
  font-weight: var(--font-weight-black);
  color: var(--color-brand-primary);
}
