@use '../../../../styles/breakpoints';

:host {
  display: block;
  padding: var(--space-md);
  max-width: 640px;
  margin: 0 auto;
}

h1 {
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-bold);
}

.round-label {
  color: var(--color-text-muted);
  font-weight: var(--font-weight-bold);
}
