<nav class="bottom-nav">
  <button
    type="button"
    class="tap-target"
    [class.is-active]="activeTab() === 'schedule'"
    (click)="setTab('schedule')"
  >
    {{ 'groupMemberView.nav.schedule' | translate }}
  </button>
  <button
    type="button"
    class="tap-target"
    [class.is-active]="activeTab() === 'standings'"
    (click)="setTab('standings')"
  >
    {{ 'groupMemberView.nav.standings' | translate }}
  </button>
  <button
    type="button"
    class="tap-target"
    [class.is-active]="activeTab() === 'match-records'"
    (click)="setTab('match-records')"
  >
    {{ 'groupMemberView.nav.matchRecords' | translate }}
  </button>
  <app-leave-group [groupId]="groupId" />
</nav>

<div class="view-content">
@switch (activeTab()) {
  @case ('schedule') {
    <app-member-schedule [groupId]="groupId" />
  }
  @case ('standings') {
    <app-standings [groupId]="groupId" />
  }
  @case ('match-records') {
    <app-match-records [groupId]="groupId" />
  }
}
</div>
